<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

div class="container">
    <div class="row pt-5">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header" style="background-color: rgb(216, 108, 89);">
                    <h5 class="text-light">Edit User (<%= data.username %>)</h5>
                </div>
                <div class="card-body p-4">
                    <form action="/updatemusicalinstrument/<%= data.id %>" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Username</label>
                            <input type="text" name="usernamename" class="form-control form-control-lg" placeholder="Enter Name Musical" required/>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter Description" required/>
                        </div>
                        <div class="mb-3">
                            <label for="photo" class="form-label">Select Image</label>
                            <input type="file" name="photo" class="form-control form-control-lg" />
                            <img src="/<%= data.photo %>" width="100" class="img-thumbnail mt-1">
                        </div>
                        <input type="hidden" name="old_image" value="<%= data.photo %>">
                        <div class="mb-3">
                            <input type="submit" name="submit" value="Update Musical" class="btn btn-lg" style="background-color: rgb(231, 152, 41);"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>